/*----------------------------------- Formatações padrão e Header ------------------------*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

ul{
 list-style-type: none;
}

body{
    background: url(assets/fundo.jpg);
    height: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande" , sans-serif;
}

@keyframes logo{
    0% {left:0px}
    50%{left:-20px}
    100%{left:0px}
}

#logo:hover{
    position: relative;
    animation: logo 1.2s linear 0s infinite;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F81E27;
}

header input{
    border-radius: 10px 0px 0px 10px;
    width: 400px;
    height: 50px;
    padding: 10px;
    border: 1px solid #F81E27;
}

#links-header a{
    padding: 5px;
    font-size: 1.1em;
    color: #F81E27;
}

#links-header a:hover{
    color: #000;
}

#lupa{
    background-color: #e4383e;
    opacity: 0.9;
    padding: 13px;
    font-weight: bold;
    margin-left: -5px;
    border-radius: 0px 10px 10px 0px;
}

#navigate-bar{
    background:#f8444a;
    margin-bottom: 10px;
}

#navigate-bar ul{
    display: flex;
    flex-direction: row;
}

#navigate-bar li{
    padding: 16px 42.7px;  
    font-size: 1em;
    
}

#navigate-bar a:hover{
    color: #fff;
}

/*--------------------------------------------------------------------------------------- HEADER ACABA AQUI,  MAIN COMEÇA EM BAIXO -------------------*/

#banner img{
    max-width: 100%;
    max-height: 800px;
}

section h2{
    margin-top: 30px;
    border-bottom: 2px solid #f8444a;
    width: 300px;
    padding: 5px;
    margin-bottom: 20px;
}

.img-section{
    width: 250px;
}

.produtos{
    display: flex;
    flex-wrap: wrap;
}

.produtos div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid rgba(128, 128, 128, 0.3);
    max-width: 257px;
    margin: 5px;
}

#black .produtos div{
    margin: 0 auto;
}

.produtos p{
    color: #F81E27;
    font-weight: bold;
}

.vista-initial{
    font-size: 1.6em;
}

.prazo-initial{
    font-size: 1em;
}

.produtos h3, .produtos p{
    padding: 10px;
}

.button-cart{
    width: 100%;
    height: 5vh;
    border-radius: 10px;
    border:1px solid #F81E27;
    
}

.button-cart a{
 color: #000;
}

.button-cart a:hover{
 color: #F81E27;
}

.button-cart:hover{
    background-color: rgb(134, 123, 123);
    transition: 2s;
}

/*---------------------------------- BANNER DEPOIS DO PAINEL PRINCIPAL----------------------------*/

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner-end{
margin: 20px 0px;
}

#banner-end img{
    max-width: 100%;
    max-height: 700px;
    min-height: 300px;
}

/*------------------------------------Rodapé-------------------------------------------*/

footer ul{
    display: flex;
    flex-direction: row;   
}

footer li{
    padding: 20px;
}

/*----------------------------------TELA DE LOGIN-------------------------------*/

#login{
    width: 500px;
    height: 400px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius: 10px ;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 140px;
    background-color: rgba(255,255,255,0.3);
    text-align: center;
}

#container img {
    width: 280px;
    height: 80px;
    margin-top: -40px;
    margin-left: 20px;
    
}

#login input{
    height: 40px;
    width: 80%;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #fff;
    padding-left: 20px;
    border: none;
}

#login input.submit{
    color: #fff;
    background-color: #f8444a;
    padding: 5px 20px;
    width: 90%;
    background: -webkit-linear-gradient(to bottom, #faa600, #f68a00);
    background: -moz-linear-gradient(to bottom, #faa600, #f68a00);
    background: -o-linear-gradient(to bottom, #faa600, #f68a00);
}

/*----------------------------------QUEM SOMOS E SESSÃO DE CONTATO (MESMA PÁGINA)----------------------------*/

.flex-quemsomos{
    display: flex;
    margin-top: 30px;
}

.flex-quemsomos li{
    margin: 10px;
}

#quemsomos, #contact{
    padding: 10px;
}

#quemsomos2{
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #F81E27;
}
.footerbaixo{
    margin-bottom: 50px;
}

#form-title{
    margin: 30px 0px;
}

#form-contato label{
    display: block;
}

#comentario-contato{
    width: 600px;
    height: 20vh;
}

#submit-contato{
    height: 5vh;
    width: 150px;
    margin-bottom: 20px;
}

#wapp{
    color: rgb(25, 218, 25);
    font-size: 80px;
}

#inst{
    font-size: 80px;
    color: #F30183;
}

/*----------------------------------PAGINA DE PRODUTO----------------------------*/

#column{
    display: flex;
    flex-direction: column;
}

#productpage-img{
    width: 500px;
}

.productsecundary{
    width: 130px;
}

.productsecundary:hover{
    width: 229px;
    transition: 1s;
}

#product-painel{
   margin: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 500px;
}

#product-painel h2{
    font-size: 2em;
}

#product-painel h3{
    font-size: 0.8em;  
    margin-top: -8px;
}

#product-painel p{
 font-size:1.1em;
}

#vista{
    color:#F81E27;
    font-size: 2.5em;
}

#prazo{
    color: #F81E27;
    font-size: 1.5em;
}

.description{
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid gray;
}

.description ul{
    margin-top: 20px;
}

#frete{
    display: flex;
}

#frete p{
    font-size: 1em;
}

#cep{
    width: 140px;
    height: 40px;
    margin: 0px 10px;
    border: 1px solid #F81E27;
}

#calc-cep{
    border: 1px solid #F81E27;
    padding: 5px;
    color: #000;
    font-weight: bolder;
}

#quantity{
    border: 1px solid #F81E27;
    margin: 0px 10px;
    width: 40px;
}