*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

ul{
 list-style-type: none;
}

body{
    background: url(assets/fundo.jpg);
}


.container{
    max-width: 1080px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F81E27;
}

header input{
    border-radius: 10px 0px 0px 10px;
    width: 400px;
    height: 50px;
    padding: 10px;
    border: 1px solid #F81E27;
}

#links-header a{
    padding: 5px;
    color: #F81E27;
}

#lupa{
    background-color: #F81E27;
    padding: 17px;
    margin-left: -5px;
    border-radius: 0px 10px 10px 0px;
}

#navigate-bar{
    background:#f8444a;
}

#navigate-bar ul{
    display: flex;
    flex-direction: row;
}

#navigate-bar li{
    padding: 16px 42.7px;
    
}

/*--------------------------------------------------------------------------------------- HEADER ACABA AQUI,  MAIN COMEÇA EM BAIXO -------------------*/

#banner img{
    margin: 10px 0px;
    max-width: 1903px;
    max-height: 800px;
}

section h2{
    background: #f8444a;
    width: 270px;
    padding: 5px;
}


.img-section{
    width: 250px;
}

.produtos{
    display: flex;
    flex-wrap: wrap;
}

.produtos div{
    border: 3px solid rgba(128, 128, 128, 0.3);
    max-width: 257px;
    margin: 5px;
}

.produtos p{
    color: #F81E27;
    font-weight: bold;
}

.produtos h3, .produtos p{
    padding: 10px;
}

.button-cart{
    width: 100%;
    height: 5vh;
}

/*---------------------------------- BANNER DEPOIS DO PAINEL PRINCIPAL---------*/

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner-end{
margin: 20px 0px;
}

#banner-end img{
    width: 1902px;
    height: 700px;
}

/*------------------------------------Rodapé--------------------*/

footer ul{
    display: flex;
    flex-direction: row;   
}

footer li{
    padding: 20px;
}
