*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

ul{
 list-style-type: none;
}

body{
    background: url(assets/fundo.jpg);
    height: 100%;
}


.container{
    max-width: 1080px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F81E27;
}

header input{
    border-radius: 10px 0px 0px 10px;
    width: 400px;
    height: 50px;
    padding: 10px;
    border: 1px solid #F81E27;
}

#links-header a{
    padding: 5px;
    font-size: 1.1em;
    color: #F81E27;
}

#lupa{
    background-color: #F81E27;
    padding: 17px;
    margin-left: -5px;
    border-radius: 0px 10px 10px 0px;
}

#navigate-bar{
    background:#f8444a;
    margin-bottom: 10px;
}

#navigate-bar ul{
    display: flex;
    flex-direction: row;
}

#navigate-bar li{
    padding: 16px 42.7px;  
    font-size: 1em;
}

/*--------------------------------------------------------------------------------------- HEADER ACABA AQUI,  MAIN COMEÇA EM BAIXO -------------------*/

#banner img{
    max-width: 1903px;
    max-height: 800px;
}

section h2{
    background: #f8444a;
    width: 270px;
    padding: 5px;
}


.img-section{
    width: 250px;
}

.produtos{
    display: flex;
    flex-wrap: wrap;
}

.produtos div{
    border: 3px solid rgba(128, 128, 128, 0.3);
    max-width: 257px;
    margin: 5px;
}

.produtos p{
    color: #F81E27;
    font-weight: bold;
}

.produtos h3, .produtos p{
    padding: 10px;
}

.button-cart{
    width: 100%;
    height: 5vh;
}

/*---------------------------------- BANNER DEPOIS DO PAINEL PRINCIPAL---------*/

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner-end{
margin: 20px 0px;
}

#banner-end img{
    width: 1902px;
    height: 700px;
}

/*------------------------------------Rodapé--------------------*/

footer ul{
    display: flex;
    flex-direction: row;   
}

footer li{
    padding: 20px;
}


/*----------------------------------TELA DE LOGIN----------------------------*/

#login{
    width: 500px;
    height: 400px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius: 10px ;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 140px;
    background-color: rgba(255,255,255,0.3);
    text-align: center;
}

#container img {
    width: 280px;
    height: 80px;
    margin-top: -40px;
    margin-left: 20px;
    
}

#login input{
    height: 40px;
    width: 80%;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #fff;
    padding-left: 20px;
    border: none;
}

#login input.submit{
    color: #fff;
    background-color: #f8444a;
    padding: 5px 20px;
    width: 90%;
    background: -webkit-linear-gradient(to bottom, #faa600, #f68a00);
    background: -moz-linear-gradient(to bottom, #faa600, #f68a00);
    background: -o-linear-gradient(to bottom, #faa600, #f68a00);
}


/*----------------------------------QUEM SOMOS----------------------------*/

.flex-quemsomos{
    display: flex;
    margin-top: 30px;
}

.flex-quemsomos li{
    margin: 10px;
}